* {
  box-sizing: border-box;
}

.header {
  color: #fff;
  text-align: center;
  padding: 50px 0 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #00ADB5;
}

.header p {
  margin: 5px 0 0;
  font-size: 14px;
  opacity: 0.8;
  color: #000;
}

.qrwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.qrInner {
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 20px;
  width: 450px;
  height: 450px;
}

.qrwrap h2 {
  color: #00ADB5;
  margin: 0 0 20px;
  text-align: center;
}

.qrwrap input {
  border: 1px solid #00ADB5;
  height: 35px;
  line-height: 35px;
  width: 100%;
  font-size: 15px;
  border-radius: 6px;
  padding: 10px 12px;
  outline-color: #00ADB5;
  outline-width: 1px;
  margin: 0 0 10px;
}

.qrwrap input[type="file"] {
  line-height: normal;
  color: grey;
  cursor: pointer;
  width: 90px;
  font-size: 10px;
}

.qrwrap input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.qrwrap input.error {
  border-color: red;
  outline-color: red;
}

p.errorMsg {
  font-size: 15px;
  margin: -10px 0 15px;
  color: red;
}

.qrcode {
  margin: 20px auto 0;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 250px;
  padding: 0 0 15px;
}

.qrcode h4 {
  padding: 8px 0;
  margin: 0 0 15px;
  border-bottom: 1px solid #ddd;
  color: #222;
  font-size: 14px;
  background-color: #ddd;
  border-radius: 10px 10px 0 0;
}

.downloadBtn {
  border: 1px solid #00ADB5;
  background-color: #00ADB5;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 5px;
  margin: 20px auto 0;
  color: #fff;
  display: block;
  cursor: pointer;
}

.downloadBtn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.colorPalette {
  text-align: center;
  margin: 10px 0 0;
}

.colorBtn {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  margin: 0 4px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.colorBtn:not([disabled]):hover {
  transform: scale(1.1);
}

.colorBtn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}